| // view all ===============================================================
| 
| --- Doubles ---
| #{ a.d1 }
| #{ a.d2[0] }, #{ a.d2[1] }
| #{ a.d3[0] }, #{ a.d3[1] }, #{ a.d3[2] }
| 
| #{ a.d6[0] }    #{ a.d6[1] }   #{ a.d6[2] }
| #{ a.d6[1] }    #{ a.d6[3] }   #{ a.d6[4] }
| #{ a.d6[2] }    #{ a.d6[4] }   #{ a.d6[5] }
| 
| --- Strings ---
| #{ a.s1 }
| #{ a.s2[0] } / #{ a.s2[1] }
| #{ a.s3 }
| 
| --- Enum ---
| #{ a.e1 }
| #{ a.en }
| 
| #{ a.xe1 }
| #{ a.xen }
| 

each na in a.nestA
    | 
    | # #{ na.name }
    | ...
    | 

each nb in a.nestB
    | 
    | # #{ nb.name }
    | ...
    | 


| 
| ===========================================================================
| 

